* {opacity: 0;}

h2 {
  font-weight: 600;
  font-family: "Cossette Titre", sans-serif;
  .show-on-mobile {
    display: block&;
  }
  
  @media (max-width: 1024px) {
    .show-on-mobile {
      display: inline-block;
    }
  }
}
.about-text {
  font-size: 1.3rem;
  font-weight: 400;
}