section.about-section {
  width: 100vw;
  @media (max-width: 1024px) {
    margin-bottom: 10rem;
  }
  .container {
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .left {
      width: 50%;
      @media (max-width: 1024px) {
        width: 100%;
      }
      .details-wrapper {
        margin: auto;
        width: 80%;
        @media (max-width: 1024px) {
          display: flex;
          flex-direction: column;
          gap: 5rem;
        }
        .details  {
          min-height: 100vh;
	        display:flex;
	        flex-direction:column;
	        justify-content:center;
          @media (max-width: 1024px) {
            min-height: 80vh;
          }
        }
      }
    }
    .right {
      width: 50%;
      height: 100vh;
	    display:flex;
	    flex-direction:column;
	    justify-content:center;
      @media (max-width: 1024px) {
        display: none;
      }
      .images {
	      width:20vw;
	      height:20vw;
	      position:relative;
        margin: auto;
        overflow: hidden;
        border-radius: 1rem;
        .image {
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          font-size: 6rem;
          align-items: center;
          border-radius: 1rem;
        }
      }
    }
  }
}
