section.work-section {
  overflow-y: hidden;
  height: 100%;
  width: 100vw;
  .title-container {
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    align-items: baseline;
    width: 90%;
    margin: auto;
    p {
      opacity: 0;
      margin: 0;
      line-height: 1rem;
      @media (max-width: 768px) {
        font-size: 0.7rem;
      }
      @media (max-width: 480px) {
        font-family: "Stack Sans Notch", sans-serif;
      }
    }
    h2 { 
      margin: 0;
      opacity: 0;
      @media (max-width: 768px) {
        font-size: 3rem;
      }
      @media (max-width: 480px) {
        font-family: "Stack Sans Notch", sans-serif;
      }
    }
  }

  .scroll-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    @media (max-width: 1024px) {
      margin-top: 10rem;
    } 
  }

  .carousel-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    @media (max-width: 768px) {
      gap: 1rem;
    }

    .card-container {
      display: grid;
      place-items: center;
      height: 100vh;
      width: 100vw;
      @media (max-width: 1024px) {
        height: 70vh;
      }
      @media (max-width: 768px) {
        height: fit-content;
      }
    }
  }
}