<section id="work" class="work-section">
  <div class="title-container">
    <p appReveal [revealDelay]="800">(noticeable)</p>
    <h2 appReveal>WORK</h2>
  </div>
  
  <div class="scroll-container" #container>
    <div class="carousel-wrapper" #wrapper>
      @for (work of workDataList; track work.workTitle) {
        <div class="card-container">
          <app-work-card (click)="openFullscreen(work)"
            [workData]="work"
          />
        </div>
      }
    </div>
  </div>
  
  @if (isWorkFullscreen()) {
    <app-fullscreen-work />
  }
</section>