.aside-wrapper {
  h3 {
    font-size: 4.5rem;
    max-width: fit-content;
    margin: 0;
    text-align: right;
    font-family: "Stack Sans Notch", sans-serif;
    opacity: 0;
  }
  
  p {
    width: 100%;
    opacity: 0;
  }
}