nav {
  color: white;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 12.5rem;
    @media (max-width: 1024px) {
      width: 12.5rem;
    }
    li {
      color: white;
      cursor: pointer;
      a {
        position: relative;
        text-decoration: none;
      }

      a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #ffffff91;
        top: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .32s ease-in-out;
      }

      a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #ffffff91;
        bottom: 0;
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform .32s ease-in-out;
      }

      
      a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }

      a:hover::after {
        transform-origin: right;
        transform: scaleX(1);
      }
    }
  }
}