#typewriter-title {
  position: absolute;
  left: 70%;
  top: 30%;
  margin: 0;
  color: #ffffff;
  font-family: 'Arial';
  font-size: 4rem;
  line-height: 3.3rem;
}

#line1, #line2 {
  display: inline-block;
}

@media (max-width: 900px) {
  #typewriter-title {
    left: 50%;
    transform: translateX(-50%);
  }
}