button {
  max-width: 4rem;
  border: none;
  background-color: rgba(22, 22, 22, 0);
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: white;
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
  &:hover {
    transform: translateX(-5px);
  }
}
