:host {
  width: 100%;
  height: 100%;
}

.tech-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 6rem;
  &.about{
    background-color: rgb(21, 11, 30);
    svg {
      width: 40%;
    }
  }
  &.angular{
    background-color: red;
  }
  &.java {
    background-color: rgb(255, 123, 0);
  }
  &.python {
    background-color: rgb(48, 191, 48);
  }
  svg {
    width: 60%;
  }
}