.footer-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-color: rgb(2, 2, 2);
  border-top: 5px #ffa500 solid;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .cv-app {
    display: grid;
    place-items: center;
    width: 33vw;
    height: 60%;
    @media (max-width: 768px) {
      width: 100%;
    }
    .cv-container {
      display: grid;
      place-items: center;
      p {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }

  .separator {
    width: 1px;
    height: 60%;
    background-color: grey;
    opacity: 0.4;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .link-app {
    display: grid;
    place-items: center;
    width: 66vw;
    height: 60%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}