.footer-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-color: rgb(2, 2, 2);
  border-top: 5px #ffa500 solid;
  @media (max-width: 768px) {
    flex-direction: column;
    height: 90vh;
  }
  .cv-app {
    display: grid;
    place-items: center;
    width: 33vw;
    height: 60%;
    @media (max-width: 768px) {
      width: 100%;
      order: 3;
    }
    .cv-container {
      display: grid;
      place-items: center;
      p {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        @media (min-width: 1025px) {
          br {
            display: none;
          }
        }
        @media (max-width: 480px) {
          font-size: 1.6rem;
          br {
            display: none;
          }
        }
      }
    }
  }

  .separator {
    width: 1px;
    height: 60%;
    background-color: grey;
    opacity: 0.4;
    @media (max-width: 768px) {
      width: 70%;
      height: 1px;
      order: 2;
    }
  }

  .link-app {
    display: grid;
    place-items: center;
    width: 66vw;
    height: 60%;
    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      padding-top: 2rem;
      order: 1;
    }
  }
}