.canvas-wrapper {
  position: relative;
  .canvas-container{
    width:100%;
    height:150vh;
    max-height: 2160px;
    background-color:#000;
  }
}

.canvas-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}
