.contact-links {
  --magic-color: #D87036;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  .link-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
      @media (max-width: 768px) {
        font-size: 1.4rem;
      }
      @media (max-width: 480px) {
        font-size: 1.1rem;
      }
    }
    p {
      font-size: 1rem;
      margin: 1rem;
      text-align: center;
      @media (min-width: 1025px) {
        br {
          display: none;
        }
      }
    }
  }
  .link-container {
      display: grid;
      place-items: center;
    a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 400;
      &:hover {
        color: var(--magic-color);
      }
    }
    ul {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 1rem;
      li {
        a {
          display: grid;
          place-items: center;
          width: 33px;
          height: 33px;
          font-size: 1.25rem;
          border: 1px solid white;
          text-decoration: none;
          border-radius: 50%;
          transition: all 0.3s ease;
          &:hover {
            background-color: color-mix(
              in srgb,
              var(--magic-color) 50%,
              transparent
            );
            color: black;
            transform: scale(0.98);
          }
        }
      }
    }
  }
}