.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  color: white;
  width: 100%;
  .main-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      button {
        border: none;
        background-color: rgb(22, 22, 22);
        border-radius: 0.2rem;
        color: wheat;
        cursor: pointer;
      }
      h3 {
        font-size: 4.5rem;
        margin: 0;
        text-align: right;
        font-family: "Stack Sans Notch", sans-serif;
      }
    }
    .right {
      display: flex;
      align-items: center;
    }
  }
}
