$card-radius: 1rem;
$anim-speed: 8s;

:host {
  @media (max-width: 1024px) {
    margin: 0;
    width: 90%;
  }
  @media (max-width: 768) {
    width: 98%;
  }
}

.work-card {
  display: flex;
  gap: 3rem;
  @media (max-width: 1024px) {
    gap: 1rem;
    justify-content: space-between;
  }
  @media (max-width: 768px) {
    justify-content: center;
    flex-direction: column;
  }
  .work-card__aside {
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      display: none;
    }
    h3 {
      font-size: 4rem;
      margin: 0;
      text-align: right;
      font-family: "Stack Sans Notch", sans-serif;
      @media (max-width: 1024px) {
        font-size: clamp(1rem, 3rem, 4rem);
      }
    }
    p {
      margin: 0;
      text-align: right;
    }
  }
  &.is-reversed {
    @media (max-width: 1024px) {
      .work-card__aside {
        order: 2;
      }
      .card {
        order: 1;
      }
    }
  }
}

.card {
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: 350px;
  width: 100%;
  max-width: 35rem;
  border-radius: $card-radius;
  background-color: var(--black);
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
  @media (max-width: 768px) {
    max-width: 100%;
    height: auto;
    aspect-ratio: auto;
    margin: 0;
  }
  &.red {
    background-image: 
    radial-gradient(at 88% 40%, var(--black) 0px, transparent 85%),
    radial-gradient(at 49% 30%, var(--black) 0px, transparent 85%),
    radial-gradient(at 14% 26%, var(--black) 0px, transparent 85%),
    radial-gradient(at 0% 64%,  rgb(197, 52, 33) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, rgb(255, 36, 43) 0px, transparent 85%);
  }
  &.green {
    background-image: 
    radial-gradient(at 88% 40%, var(--black) 0px, transparent 85%),
    radial-gradient(at 49% 30%, var(--black) 0px, transparent 85%),
    radial-gradient(at 14% 26%, var(--black) 0px, transparent 85%),
    radial-gradient(at 0% 64%,  rgb(33, 197, 50) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, rgb(36, 255, 36) 0px, transparent 85%);
  }
  &.blue {
    background-image: 
    radial-gradient(at 88% 40%, var(--black) 0px, transparent 85%),
    radial-gradient(at 49% 30%, var(--black) 0px, transparent 85%),
    radial-gradient(at 14% 26%, var(--black) 0px, transparent 85%),
    radial-gradient(at 0% 64%,  rgb(33, 99, 197) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, rgb(36, 255, 222) 0px, transparent 85%);
  }
  &.purple {
    background-image: 
    radial-gradient(at 88% 40%, var(--black) 0px, transparent 85%),
    radial-gradient(at 49% 30%, var(--black) 0px, transparent 85%),
    radial-gradient(at 14% 26%, var(--black) 0px, transparent 85%),
    radial-gradient(at 0% 64%,  hsla(263, 93%, 56%, 1) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);
  }
  .card-border {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    overflow: hidden;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: $card-radius;
    background-image: linear-gradient(0deg, var(--white) -50%, hsl(0, 0%, 40%) 100%);
    
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 200;
      width: 200%;
      height: 10rem;
      transform-origin: left;
      background-image: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0) 0%,
        hsl(277, 95%, 60%) 40%,
        hsl(277, 95%, 60%) 60%,
        hsla(0, 0%, 40%, 0) 100%
      );
      animation: rotate-border $anim-speed linear infinite;
    }
  }

  img {
    width: 85%;
    height: 85%;
    border-radius: $card-radius;
    border: solid 1px rgba(255, 255, 255, 0.44);
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }
}

