* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  overscroll-behavior-y: none;
  color: white;
  /* firefox*/
  scrollbar-width: thin;
  scrollbar-color: #6a5af9 transparent;
}

html, body {
  overflow-x: hidden;

  background-color: black;
  margin: 0;
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 999px;
  backdrop-filter: blur(10px);
}

body {
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}
